<div class="ui placeholder segment">
  <%=render "layouts/flashmessages", obj: @user%>
  <div class="ui column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
      <%= form_with(model: @user, local: true) do |f| %>

       <div class="field">
          <%= f.label(@user.new_record? ? "Upload Profile Pic" : "Update Profile Pic" ) %>
          <div class="ui left icon input">
            <%= @image = current_user %>
            
           </div>
        </div>


        <div class="field">
         <%= f.label :username, "Username" %>
          <div class="ui left icon input">
            <%= f.text_field :username, placeholder: "Create a Username" %>
            <i class="user icon"></i>
          </div>
        </div>

        <div class="field">
          <%= f.label :email, "Email" %>
          <div class="ui left icon input">
            <%= f.email_field :email, placeholder: "Enter your email address" %>
            <i class="lock icon"></i>
          </div>
        </div>

         <div class="field">
          <%= f.label :password, "Password" %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: "Choose a Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= f.submit(@user.new_record? ? "Sign up" : "Update Account", class:  "ui inverted blue button") %>
          <% if logged_in? %>          
        <%= link_to "Delete Account", user_path(current_user), 
          class: "ui inverted red button", method: :delete, data: { confirm: "Are you sure?" } %> 
          <%end%>
          <div class="field">
            <div class="ui checkbox">
               <input type="checkbox" tabindex="0" class="hidden">
               <label>I agree to the Terms and Conditions</label>
                <div class="middle aligned column">
                   <%= link_to "Cancel", root_path,  class: "ui teal button" %>
              </div>
         </div>
   
      <% end %>
      </div>
    </div>
        
    </div>
  </div>
</div>