
<div class="ui link cards">
  <html>
  <body>
    <header class="flex">
      <button>Shuffle User Card Deck</button>
    </header>
    <section class="flex">
      <img src="">
    </section>
    <script src="assets/javascripts/application.js"></script>
  </body>
</html>
       <% @users.each do |user| %>

  <div class="card ">
    <div class="image">
              <%= @image = current_user %>
    </div>
    <div class="content">
      <% if logged_in? %>
      <%= link_to user.username,user, class: "ui inverted header "%>
      <%else%>
      <%= user.username %>
      <%end%>
       <div class="meta">  
        <p>  
          <button class="ui basic button">
  <i class="icon user"></i>
<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>  </button>

          <div class="clear"></div>  
        </p>  
      </div>  
         <div class="description">
          <%= user.username %> is is an interior designer living in New York.
        </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined <%= time_ago_in_words(user.created_at)%> ago,
      </span>
      <span>
        <i class="user icon"></i>
         <%= user.count_friends%>
      </span>
    </div>    
  </div>
    <%end%>
</div>
 