  <h1 class= "ui center aligned medium icon header "> <%= @user.username %>'s' Profile </h1>


 
<%if logged_in? && @user == current_user%>
  <div class= "ui center aligned medium icon header">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "ui teal submit button" %>
  </div>
 <%end%>

<h2>Your Friends</h2>  
<ul>  
  <% for friendship in @user.friendships %>  
  <li>  
    <%= friendship.friend.username %>  
    (<%= link_to "remove", friendship, :method => :delete %>)  
  </li>  
  <% end %>    
</ul>  
 <p>Username: <%= @user.username %></p>  
<p><%= link_to "Find Friends", users_path %></p>  


<h2>Users who have added you</h2>  
<ul>  
  <% for user in @user.inverse_friends %>  
  <li><%= user.username %></li>  
  <% end %>  
</ul>  