<h1 class= "ui center aligned medium icon header "> <%= @user.username %>'s' Profile </h1>
<%if logged_in? && @user == current_user%>
<div class= "ui center aligned medium icon header">
   <%= link_to "Edit your Account", edit_user_path(@user), class: "ui teal submit button" %>
   <%= link_to "Edit your Profile", edit_userinfo_path(current_user), class: "ui inverted green button"%>
</div>
<%end%>
<table class="ui center very basic collapsing celled table">
   <thead>
      <tr>
         <th>Friends</th>
         <th>Actions</th>
         <th>Users who have added you</th>
         <th>View profile</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>
            <h4 class="ui image header">
               <img src="/images/avatar2/small/lena.png" class="ui mini rounded image">
               <div class="content">
                  <% for friendship in @user.friendships %>
                  <%= friendship.friend.username %>  
                  <% end %>       
                  <div class="sub header">Human Resources
                  </div>
               </div>
            </h4>
         </td>
         <td>
            <%= link_to "remove", friendship, method: :delete, data: {confirm: "Are you sure?"},
               class: 'negative ui button'%>
         </td>
         <td>
            <% for user in @user.inverse_friends %>  
            <li><%= user.username %></li>
            <% end %>  
         </td>
         <td>
            
         </td>
      </tr>
   </tbody>
</table>
<%= render 'userinfos/usersinfo' %>