<h2 class="text-center mt-4"><%= @usersinfo.title %></h2>
 
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          by <%= @usersinfo.user.username if @usersinfo.user %>
          <%= link_to user_path(@usersinfo.user) %>
           
        <div class="card-body">
          <div class="card-text text-left"><%= simple_format(@usersinfo.description) %></div>
          <% if logged_in? && (@usersinfo.user == current_user || current_user.admin?) %>
          <%= link_to "Edit", edit_userinfo_path(@usersinfo), class: "btn btn-outline-info" %>
          <%= link_to "Delete", userinfo_path(@usersinfo), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
         
      </div>
    </div>
  </div>
</div>