<div class="container">
  <% @userinfos.each do |userinfo| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <% if userinfo.user %>
              by <%= link_to userinfo.user.username, user_path(userinfo.user) %>
            <% end %>
           
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to userinfo.title, userinfo_path(article), class: "text-success" %></h5>
            <p class="card-text"><%= truncate(userinfo.description, length: 100) %></p>
            <%= link_to "View", userinfo_path(article), class: "btn btn-outline-success" %>
            <% if logged_in? && (userinfo.user == current_user || current_user.admin?) %>
              <%= link_to "Edit", edit_auserinfo_path(article), class: "btn btn-outline-info" %>
              <%= link_to "Delete", userinfo_path(userinfo), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </div>
        
        </div>
      </div>
    </div>
  <% end %>
</div>
