<p id="notice"><%= notice %></p>

<p>
  <strong>Name of picture:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Picture:</strong>
  </p>

  <%= image_tag(@image.picture.url, size: "250x250") if @image.picture? %>

 
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
